@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Koulen&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
}

h1 {
    text-align: center;
    background-color: white;
    width: 100%;
    height: 85px;
    font-family: 'Javanese Text';
    font-weight: 400;
    font-size: 3rem;
}

nav div {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
nav img{
    width: 1.875rem;
    margin: 10px;
}
nav div ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 100px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Javanese Text';
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 400;
}
nav #toggle, nav label{
    display: none;
}

.seccion1 {
    background-color: #FFC6E8;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4,1fr);
}

.ropaParaTi{
    grid-column: 1 / 5;
    grid-row: 1/3;
    height: fit-content;
    align-self: self-end;
    background-color: white;
    text-align:right;
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    padding: 50px;
    padding-left: 300px;
    margin-right: 150px;
    order: 1;

}
.parrafo{
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 800;
    font-size: 1.0938rem;
    text-align: right;
    grid-column: 2/4;
    grid-row: 3/4;
    margin-top: 50px;
    margin-right: 80px;
}
.boton{
    grid-column: 3/4;
    grid-row: 4;
    width: 150px;
    height: 45px;
    justify-self: center;
    margin-top: 20px;
    margin-right: 50px;
    color: white;
    background-color: black;
    border-radius: 30px;
    font-family: 'Italiana';
    font-weight: 800;
    font-size: 1.0938rem;

}

.imagen{
    grid-column: 4 / 9;
    grid-row: 1 / 5;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seccion2 {
    background-color: #FFDBF1;
}

.seccion2 h2 {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}

.card {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 18.75rem;
    height: 32.625rem;
    border: 10px solid white;
    border-radius: 25px;
    overflow: hidden;
}

.card .vestido1 {
    width: 300px;
    height: auto;
}

.card .vestido2 {
    width: 266px;
    height: auto;
}

.card .vestido3 {
    width: 267px;
    height: auto;
}

.card div {
    padding-left: 20px;
    padding-top: 10px;
    height: 6.25rem;
    background-color: white;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.card div h3{
    font-size: 24px;
    font-family: "Kosugi", sans-serif;
    font-style: normal;
    font-weight: 500;
}
.card div p{
    font-size: 24px;
    font-family: "Kosugi", sans-serif;
    font-style: normal;
    font-weight: 500;
}
.card .fav{
    display: none;
}
.card div button{
    width: 130px;
    height: 45px;
    margin-top: 30px;
    color: black;
    background-color: #EEC9EE;
    border-color: black;
    border-radius: 30px;
    font-size: 24px;
    font-family: "Kosugi", sans-serif;
    font-style: normal;
    font-weight: 500;
}
.seccion2 .topDesings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.seccion3 {
    background-color: white;
}

.seccion3 h2 {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    text-align: right;
    margin: 20px 150px;
}

.seccion3 article h3 {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
}
.seccion3 article p{
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

.seccion3 article img {
    margin-left: 100px;
    margin-bottom: 20px;
}

.seccion3 article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.seccion3 article div h3 {
    margin-bottom: 25px;
    text-align: start;
}

.seccion3 article div {
    width: 635px;
    text-align: justify;
    margin: 75px;
}

footer {
    width: 100%;
    background-color: black;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer section span {
    color: white;
    margin-top: 15px;
}

footer section div img {
    margin-left: 25px;
}

.contactenos {
    margin: 15px 40px;
    text-decoration: none;
    color: white;
    font-family: "Koulen", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}

.colecciones h2 {
    text-align: center;
    padding-top: 20px;
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
}

.colecciones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FFDBF1;
    width: 100%;
}
.colecciones2{
    width: 100%;
}
.invierno {
    display: flex;
    width: auto;
    height: auto;
    padding: 15px;
    margin: 3.125rem;
    background-color: #AABFC6;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
}
.invierno2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: justify;
}
.invierno2 h3{
    align-self: end;
    padding: 0px 10px 20px 10px;
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
}
.invierno2 p{
    text-align: justify;
    padding: 0px 10px 10px 10px;
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 800;
    font-size: 1.25rem;
}
.invierno .inviernoimg{
    display: flex;
    gap: 15px;
}

.inviernoimg img{
    object-fit: cover;
    border-radius: 25px;
}

.primavera {
    display: flex;
    width: auto;
    height: auto;
    padding: 15px;
    margin: 3.125rem;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
    background-color: #EBA5AD;
}
.primavera .inviernoimg {
    display: flex;
    gap: 15px;
}


.primavera h3 {
    text-align: left;
}

.primavera p {
    text-align: left;
}

.accesorios {
    background-color: #FFC6E8;
    width: 100%;
}

.accesorios h2 {
    text-align: center;
    padding-top: 20px;
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
}
.accesorios2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    justify-items: center;
}
.accesorios2 div {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
}
.accesorios2 div h3{
    text-align: center;
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    margin: 5px;
}

.destacados {
    width: 100%;
}
.mainDestacados{
    background-color: #FFC6E8;
}
.mainDestacados h2{
    text-align: center;
    padding-top: 20px;
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
}
.destacadosmain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    padding: 50px;
}

.destacadosmain article {

    height: fit-content;
}

.destacadosmain article div {
    height: fit-content;
    align-items: center;
    padding: 0;
}
.destacadosmain article div button {
    margin: 12px;
}

.fondo {
    display: flex;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../assets/img/sobrenosotros/background.png);
}

.fondo h2 {
    background-color: #2f2f2f76;
    border-radius: 55px;
    color: white;
    margin: 25px;
    display: flex;
    justify-content: center;

}

.articulos article {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #2f2f2f76;
    margin: 75px;
    width: fit-content;
    border-radius: 55px;

}

.articulos article p {
    margin: 25px;
    text-align: center;
    padding-top: 20px;
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;

}
@media (max-width:1440px){
    nav div ul{
        gap: 70px;
    }
    .ropaParaTi{
        margin-right: 0;
        padding-left: 0;
    }
}
@media (max-width:1250px){
    nav div {
        padding-left: .625rem;
        padding-right: .625rem;
    }
}
@media (max-width:1080px){
    nav div ul{
        gap: 50px;
    }
    nav div {
        padding: 0;
    }
    .ropaParaTi{
        margin-right: 0;
        padding-left: 0;
    }
    .seccion2 .topDesings{
        flex-wrap: wrap;
        gap: 20px;
        margin-inline: 20px;
    }
}
@media (max-width:940px){
    nav ul li a {
        font-size: 1.125rem ;
    }
    .seccion3 article{
        flex-direction: column;
    }
    .seccion3 article div {
        margin-top: 0;
    }
    .accesorios2{
        grid-template-columns: repeat(1,1fr);
        grid-template-columns: 100%;
        gap: 30px;
        padding: 10px;
    }
    .invierno2 p{
        font-size: 17px;
    }
}
@media (max-width:880px){
    nav div ul{
        gap: 30px;
    }
    
}
@media (max-width:768px){
    
    nav div ul{
        gap: 30px;
    }
    .ropaParaTi{
        margin-right: 0;
        align-self: center;
        padding-left: 0;
    }
    .parrafo{
        grid-column: 1 / 4;
        margin: 20px;
    }
    .boton{
        margin: 20px;
    }
    
    .destacadosmain{
        gap: 20px;
    }
}

@media (max-width:720px){ 
    h1{
        width: auto;
    }
    header{
        width: 100%;
        position: fixed;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        background-color: white;
    }
    nav div{
        display: none;
    }
    nav .menu{
        flex-direction: column;
        width: 100%;
        height: 0;
        overflow: hidden;
        display: none;
        background-color: black;
    }
    nav div ul{
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
    nav label{
        display: inline-flex;
        cursor: pointer;
    }
    nav label img{
        width: 100%;
        object-fit: contain;
    }
    nav #toggle:checked ~ .menu{
        display: inline-flex;
        height: 100%;
    }
    main{
        padding-top:85px;
    }
    
    .seccion3 article img{
        margin: 0;
    }
    .seccion3 article div {
        width: fit-content;
        margin: 40px;
    }
    .destacadosmain{
        padding: 0;
        gap: 0;
    }
    .destacadosmain .card{
        margin-inline: 15px;
    }
    .accesorios2{
        grid-template-columns: 200px;
        gap: 20px;
        padding: 10px;
    }
    .accesorios2 div{
        object-fit: cover;
    }
    .invierno{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin: 20px;
    }
    
    .invierno2 h3{
        align-self: center;
    }
    .primavera{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin: 30px;
    }

    footer section{
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
}

@media (max-width:424px){ 
    .inviernoimg{
        flex-direction: column;
    
    }
}